<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.webServer>
		<staticContent>
			<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:00:15" />
			<!-- <clientCache cacheControlCustom="public" cacheControlMode="DisableCache" /> -->
		</staticContent>

		
		<caching enableKernelCache="false">
			<profiles>
				<add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<!-- <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" /> -->
				<add extension=".html" location="Client" policy="CacheForTimePeriod" duration="0.00:00:10" />
				<add extension=".css" location="Client" policy="CacheForTimePeriod" duration="1.00:00:00" />
				<add extension=".jpg" location="Client" policy="CacheForTimePeriod" duration="0.01:00:00" />
				<add extension=".jpeg" location="Client" policy="CacheForTimePeriod" duration="0.01:00:00" />
				<add extension=".png" location="Client" policy="CacheForTimePeriod" duration="0.01:00:00" />
				<add extension=".gif" location="Client" policy="CacheForTimePeriod" duration="0.01:00:00" />
			</profiles>
		</caching>
		

		<!-- <httpErrors errorMode="Detailed"/> -->

    </system.webServer>
</configuration>