<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.webServer>
	   
		<caching>
			<profiles>
				<add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
			</profiles>
		</caching>
		
		<!-- <httpErrors errorMode="Detailed"/> -->

    </system.webServer>
</configuration>